*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    z-index: 1;
    display: flex;
    align-items: center;
    height: 160px;
    width: 100%;
    background-color: transparent;
    color: #39312C !important;
    position: fixed;
    top: 0;
    font-weight: 400;
}

.navbar.active {
    background: linear-gradient(90deg, rgb(66, 2, 194) 0%, rgb(0, 78, 194) 100%);
}

.care-active,
.login-active,
.logout-active,
.train-active {
    color: #39312C;
}

.care:hover,
.login:hover,
.logout:hover,
.train:hover {
    color: #39312C !important;
    font-weight: bold !important;
}

.logo {
    font-size: 30px;
}

.home img {
    width: 70%;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    color: #39312C !important;
    padding: 30px 60px;
    background: rgb(250, 245, 242, 0.5);
    border-radius: 21px;
    font-size: 25px;
}

.train,
.care,
.home,
.logout,
.login {
    text-decoration: none;
    color: #39312C !important;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 400;

}

.li:visited{
    color: white;
}

.login{

}